<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>

    <link href="/style.css" rel="stylesheet" type="text/css"><link rel="stylesheet" href="../public/style.css">
</head>
<body>

    <h1>Pokedex Gallery</h1>
    <nav>
        <span id="L">
            <a href="search.html"> Search</a>
        </span>
        <span>
            <a href="/" id="R"> Home</a>
        </span>
    </nav>

    <h1> Hi there.
        <br>
        Im from profile.ejs, 
        <br>This pokemon has the id: <%= id%>
        <br>This pokemon has the name: <%= name%>

        <br> <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%=id%>.png" alt="">
        <br>
        Stats.
        The HP is:
        <progress id="file" value="<%=hp %>" max="255"> <%=hp %> %</progress>

    </h1>
</body>
</html>
